<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="prueba.Properties.Settings.mia_storesConnectionString"
            connectionString="Data Source=LAPTOP-UANPLUS\SQLEXPRESS;Initial Catalog=mia_stores;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>